<h2>Next 7 Days</h2>

<table >
  <tr>
    <th>Class</th>
    <th>Time</th>
    <th>Date</th>
  </tr>
  <% @upseven.each do |upclass| %>
  <tr>
    <td><a href="/classes/<%=upclass.id%>"><%= upclass.type %></a></td>
    <td><a href="/classes/<%=upclass.id%>"><%= upclass.time %></a></td>
    <td><a href="/classes/<%=upclass.id%>"><%= upclass.date_as_written%></a></td>
  </tr>
  <% end %>
  </table>


  <h2>All Up-coming Classes</h2>

  <table >
    <tr>
      <th>Class</th>
      <th>Time</th>
      <th>Date</th>
    </tr>
    <% @all_upcoming.each do |upclass| %>
    <tr>
      <td><a href="/classes/<%=upclass.id%>"><%= upclass.type %></a></td>
      <td><a href="/classes/<%=upclass.id%>"><%= upclass.time %></a></td>
      <td><a href="/classes/<%=upclass.id%>"><%= upclass.date_as_written%></a></td>
    </tr>
    <% end %>
    </table>
