<form action="/classes/<%=@fclass.id %>" method="post">
  <label for="type">Type: </label>
  <input type="text" name="type" id="type" value="<%=@fclass.type %>">

  <label for="time">Time:</label>
  <input type="text" name="time" id="time" value="<%=@fclass.time %>">

  <label for="date">Time:</label>
  <input type="date" name="date" id="date" value="<%=@fclass.date %>">

  <label for="capacity">Capacity:</label>
  <input type="number" name="capacity" id="capacity" value="<%= @fclass.capacity %>">

  <label for="tier">Tier:</label>
  <select name="tier" id = "tier">
    <option value="Standard">Standard</option>
    <option value="Golden">Golden</option>
  </select>

  <input type="submit" value="Confirm"/>


</form>
