<div class="up_coming">



<h2>What's on Today?</h2>
<% if @upcoming != [] %>
<% @upcoming.each do |upclass| %>
<div class="members_list">
<h3> <%= upclass.type %> : <%= upclass.time.slice(0..4) %> </h3>
</div>
<% end %>
<% else %>
<p>Sorry! There are no more classes today.</p>
<% end  %>

<h3><a href="/classes/calendar">See the rest of the week.</a></h3>

</div>


<h2>All Classes</h2>

<% @classes.each do |fclass| %>

<p> <a href="/classes/<%= fclass.id %>"> <%=fclass.type%></a>  |  <%= fclass.time.slice(0..4) %>  |  <%= fclass.tier.capitalize %> | <%= fclass.date_as_day %></p>

<% end %>

<form action="/classes/new" method="GET"><input type="submit" value="Add Class"></form>
